/* Tag selector to select the 'body' element */
body {
  /* Set the background color of the <body> element */
  background: #00b3e6;
}

/* Tag selector to select all 'div' elements. We only have one 'div' in our HTML */
div {
  /* Set the <div> elements */
  width: 700px;
  margin: auto;
  font-family: "Helvetica Neue";
  background: white;
  padding: 30px;
}

/* ID selector to select the element with id 'main-header' */
#main-header {
  /* Set the font size of the element with the id of #main-header */
  font-size: 22px;
  color: red;
}

/* Class selector to select elements containing the class 'perspective-questions' */
.perspective-questions {
  /* Set the font style of elements with the class of .perspective-questions */
  font-style: italic;
}
